<div id="header">
	<div class="back">
		<a href="/" >&larr;</a></p>
	</div>
	<h1 class="search">{{searchTerm}} <span class="number" id="numberOfResults" count="{{numberOfResults}}"> {{numberOfResults}}</h1>
</div>
<div class="listcontainer">
	<ul id="list">
		{{#each recipes}}
			<li class="recipelist">
				<div class="result">
					<div class="title-guy">
						<a href="{{url}}">{{{name}}}</a>
					</div>
					<div class="expand-guy"><img src="/images/down.png" id="arrow{{@index}}" onClick="expandRecipe({{@index}})" width="15" height="15"/></div>
				</div>
				<div class="description" id="description{{@index}}">
					<p>"{{description}}" - 
					<a class="source" href="{{url}}"> {{source}}</a></p>
				</div>
			</li>
		{{/each}}
		<li class="moreButton" onClick="getMoreRecipes()">more</li>
	</ul>
</div>