body {
  	margin: 0 0 0 0;
  	font-family: "nimbus-sans", sans-serif;

}

#header {
	width: 100%;
	margin: auto;
	border-bottom: 6px solid grey;
	padding: 0px 10px 30px 20px;
}

.number {
	font-size: 60px;
	color: grey;
}

h1 {
	font-size: 120px;
}

.back {
	font-size: 40px;
	height: 20px;
	padding: 5px 0 0 0;
	margin: 20px 0 20px 0;
}

.back a {
	color: grey;
}

h1.search {
	margin: 20px 0 0 0;
}

ul {
	font-size: 50px;
	width: 100%;
	margin: auto;
	margin-bottom: 40px;
	padding: 0;
}

.listcontainer {
	overflow: hidden;
}

.result {
	line-height: 60px;
}

li {
	display: block;
	padding: 30px 20px 30px 20px;
	list-style-type: none;
	border-bottom: 3px dotted lightgrey;
	line-height: 22px;
}

a {
  color: #000000;
  text-decoration: none;
}

p {
	font-size: 40px;
}

#searchwrap {
	width: 80%;
	margin: auto;
	padding: 0px 10px 0px 50px;
}

#searchwrap h1 {
	font-size: 130px;
}

#searchwrap .number {
	font-size: 100px;
}

input {
	width: 85%;
	height: 160px;
	font-size: 90px;
	padding: 0px 10px 0px 10px;
	margin: 0 0 20px 0;

}