body {
  	margin: 0 0 0 0;
  	font-family: "nimbus-sans", sans-serif;

}

#header {
	width: 90%;
	margin: auto;
	border-bottom: 6px solid grey;
	padding: 0 5% 0 5%;
}

.number {
	font-size: 80px;
	color: grey;
}

h1 {
	font-size: 120px;
	line-height: 120px;
}

.back {
	font-size: 80px;
	height: 80px;
	margin: 20px 0 0 0;
	display: none;
}

.back a {
	color: grey;
}

.listcontainer {
	width: 100%;
	overflow: hidden;
}

.result {
	overflow: auto;
	line-height: 60px;
}

.title-guy {
	width: 85%;
	float: left;
	margin-right: 5px;
}

.expand-guy {
	float: right;
	width: 8%;
	cursor: pointer;
	height: 50px;
}

.home-icon {
	display: none;
}

.arrow-down {
	background-image: url('/images/mobile/down.png');
	background-repeat: no-repeat;
}

.arrow-up {
	background-image: url('/images/mobile/up.png');
	background-repeat: no-repeat;
}

.description p {
	font-size: 36px;
	font-style: italic;
}

.description {
	display: none;
	margin: 10px 0px 10px 0px;
	border-top: 1px dotted lightgrey;
}

a.source {
	font-size: 36px;
}

ul {
	font-size: 50px;
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.moreButton {
	cursor: pointer;
	background-color: lightgrey;
	border-top: 2px solid grey;
	text-align: center;
}

li {
	display: block;
	padding: 30px 20px 30px 20px;
	margin: 0 0 0 0;
	list-style-type: none;
	border-bottom: 3px dotted lightgrey;
}

a {
  color: #000000;
  text-decoration: none;
}

p {
	font-size: 40px;
}

#searchwrap {
	width: 80%;
	text-align: center;
	margin: auto;
	padding: 30px 0 0 0;
}

#searchwrap h1 {
	font-size: 130px;
}

#searchwrap .number {
	font-size: 100px;
}

input {
	width: 80%;
	height: 160px;
	font-size: 90px;
	padding: 0px 20px 0px 20px;
}