body {
  	margin: 0 0 0 0;
  	font-family: "nimbus-sans", sans-serif;
}

#header {
	width: 280px;
	margin: auto;
	border-bottom: 5px solid grey;
	padding: 0px 10px 0px 10px;
}

.number {
	font-size: 20px;
	color: grey;
}

.back {
	font-size: 18px;
	height: 20px;
	padding: 5px 0 0 0;
	margin: 8px 0 0 0;
}

.back a {
	color: grey;
}

h1.search {
	margin-top: 10px;
}

ul {
	font-size: 18px;
	width: 300px;
	margin: auto;
	margin-bottom: 40px;
	padding: 0;
}

.result {
	overflow: auto;
}

.title-guy {
	width: 260px;
	float: left;
	margin-right: 5px;
}

.expand-guy {
	float: right;
	width: 15px;
	cursor: pointer;
}

.description p {
	font-size: 14px;
	font-style: italic;
}

.description {
	display: none;
	margin: 10px 0px 10px 0px;
	border-top: 1px dotted lightgrey;
}

a.source {
	font-size: 14px;
}

.moreButton {
	cursor: pointer;
	background-color: lightgrey;
	border-top: 2px solid grey;
	text-align: center;
}

li {
	display: block;
	min-width: 280px;
	height: auto;
	padding: 10px 10px 10px 10px;
	list-style-type: none;
	overflow: hidden;
	border-bottom: 1px dotted grey;
	line-height: 22px;
}


a {
  color: #000000;
  text-decoration: none;
}

#searchwrap {
	width: 280px;
	margin: auto;
	padding: 0px 10px 0px 10px;
}

input {
	width: 280px;
	height: 50px;
	font-size: 30px;
	padding: 0px 10px 0px 10px;

}

a:hover {
	border-bottom: 2px solid grey;
}