body {
  	margin: 0 0 0 0;
  	font-family: "Georgia", sans-serif;
  	size: 18px;
  	color: #2B3A42;
  	background-color: #EFEFEF;
}

.content-wrap {
	width: 80%;
	margin: auto;
}

/** LOGO **/

.logo {
	position: fixed;
	top: 10px;
	left: 15px;
}

.logo:hover {
	text-decoration: none;
	border: none;
}

/** FOOTER **/

.footer {
	position: fixed;
	width: 100%;
	padding: 10px 10px 10px 10px;
	bottom: 0px;
	left: 0px;
	color: #EFEFEF;
	background-color: #3F5765;
}

.footer a {
	size: 12px;
	margin: 0 10px 0 10px;
	color: #BDD4DE;
}

.footer a:hover {
	color: #BDD4DE;
}

/** SEARCH **/

.search {
	height: 60px;
	width: 100%;
	margin-top: 40%;
}

input {
	height: 60px;
	font-size: 36px;
	padding: 0px 20px 0px 20px;
	color: #2B3A42;
	border: none;
	background-color: #BDD4DE;
}

input:focus {
	outline-width: 0;
}

#searchfield {
	float: left;
	width: 80%;
}

#submit {
	float: left;
	width: 60px;
	height: 60px;
	background-color: #3F5765;
	cursor: pointer;
}

/** SEARCH RESULTS **/

#header {
	color: #2B3A42;
	width: 100%;
	margin: auto;
	border-bottom: 5px solid #3F5765;
	padding: 30px 10px 0px 10px;
}

ul {
	margin-bottom: 40px;
	padding-left: 10px;
	width: 100%;
}

li {
	display: block;
	min-height: 20px;
	padding: 20px 0 20px 0;
	height: auto;
	list-style-type: none;
	overflow: hidden;
	border-bottom: 1px solid #3F5765;
	line-height: 24px;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
	color: #E74C3C;
}

.more-button {
	cursor: pointer;
	background-color: #3F5765;
	color: #EFEFEF;
	text-align: center;
	width: 150px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 80px;
}
